body{font-family: 'Open Sans', sans-serif;}
.site a{
  text-decoration: none;
}
.card-img-top{
  max-height:360px;
}
.pointer{
  cursor: pointer
}
.vw-100{width: 100vw;}
.vh-100{height: 100vh}
/*Splash Screen*/

.textLogo{ margin-top: 16vh; font-size: 36px; color:#3279ff; font-weight: 700}



/*Home*/

.mapHead,.findButton {height: 40px; background: #FFF; border:none;}
.findButton:focus {outline:none;}
.mapHead{line-height: 40px; opacity:0.8}
.mapHead .logo{color:#071f49;font-size: 27px;font-weight: bold;}
.ellipse {
  background: #ededed;
    width: 100%;
    display: block;
    height: 60%;
    border-radius: 15px;
    position: relative;
    top: 6px;
    color:#071f49
  }
  .ellipse .text,  .ellipse .fa-piggy-bank,  .ellipse .fa-trophy{ position: relative; top: -5px;}
  .fa-piggy-bank { color:#f99eb6}
  .fa-trophy { color:#fbd663}
  .fixed-btn {
      position: fixed;
      top: 50px;
      border: none;
      background: #FFF;
      border-radius: 50px;
      font-size: 30px;
      width: 60px;
      height: 60px;
  }
  .swal2-image {
    border-radius: 50px;
  }
  .fixed-btn:focus {
    outline: none;
}
  .changeMode{
    right: 4px;
  }
  .arrive{left:15px; }
  .findMe {
      right: 75px;
  }
  .fas.fa-star{ color:gold;}
  .changeMode .fa-parking { color:#379af0;}
  .row.chat{position: absolute;
    bottom: 40px;
    background: #FFF;
    width: 100%;
    padding: 0;
    margin-left: -2px;
    border-bottom: 1px solid#ededed;}
.react-countdown-clock{
  position: fixed;
  right: 245px;
  top: 50px;
  z-index: 1111;
}

.fixed-btn.profile{
  right: 140px;
}
.fixed-btn.profile img{
  border-radius:50px;
  width: 100%;
}
.info {
    bottom: 85px;
    position: fixed;
    width: 150px;
    background: #FFF;
    padding: 10px;
    border-radius: 75px;
    left: 50%;
    transform: translate(-50%, 0);
}
.openDialog { width: 130px; height: 75px;}
.openDialog button {
    border-radius: 50px;
    width: 100px;
}

/*RANK*/
.rank{
  position:absolute;
width: 100vw;
height: 100vh;
background-color: #FFF;
z-index: 1050;
overflow: scroll;

}
.rank ul {
    height: 67vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.rank li img{ border-radius:50px; width: 80px;}
.rank ul li:first-child img {width: 96px;}
.rank ul li:first-child::after {
  content: "1";
  left: 26px;
  top: 10px;
  font-size: 25px;
  color: #0d0d69;
  position: relative;
}
.rank ul li:nth-child(2)::after,.rank ul li:nth-child(3)::after {
  left: 17px;
  position: relative;
  top: 0px;
  font-size: 20px;
  color: #0d0d69;
}
.rank ul li:nth-child(3)::after {content: "3";}
.rank ul li:nth-child(2)::after {content: "2";}

.rank ul li:first-child,.rank ul li:nth-child(2),.rank ul li:nth-child(3){  position: fixed;
    top: 45px;
    border: none;
    left: 50%;
    transform: translate(-50%, 0);
      width: 130px;
          background: transparent;
  }

    .rank ul li:first-child span,.rank ul li:nth-child(2) span,.rank ul li:nth-child(3) span{  display: none; }

.rank ul li:nth-child(2){ top:80px; left: 90px;}
.rank ul li:nth-child(3) { top:80px; left:unset; right:-40px;}
.rank span {
    color: #0d0d69;
    font-size: 18px;
}
.rank .fa-arrow-left{
  position: absolute;
    left: 10px;
    top: 10px;
  z-index: 1060;}
/*style the box*/
       .gm-style .gm-style-iw {
          background-color: #FFF !important;
          top: 0 !important;
          left: 0 !important;
          width: 100% !important;
          height: 100% !important;
          height: 80px !important;
          padding-top: 10px;
          display: block !important;
          border-radius: 10px
       }


/* Just Fireworks :)  from http://jsfiddle.net/elin/7m3bL/ */

       .pyro > .before, .pyro > .after {
         position: absolute;
         width: 5px;
         height: 5px;
         border-radius: 50%;
         box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
         -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
         -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
         -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
         -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
         animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

       .pyro > .after {
         -moz-animation-delay: 1.25s, 1.25s, 1.25s;
         -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
         -o-animation-delay: 1.25s, 1.25s, 1.25s;
         -ms-animation-delay: 1.25s, 1.25s, 1.25s;
         animation-delay: 1.25s, 1.25s, 1.25s;
         -moz-animation-duration: 1.25s, 1.25s, 6.25s;
         -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
         -o-animation-duration: 1.25s, 1.25s, 6.25s;
         -ms-animation-duration: 1.25s, 1.25s, 6.25s;
         animation-duration: 1.25s, 1.25s, 6.25s; }

       @-webkit-keyframes bang {
         from {
           box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
       @-moz-keyframes bang {
         from {
           box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
       @-o-keyframes bang {
         from {
           box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
       @-ms-keyframes bang {
         from {
           box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
       @keyframes bang {
         from {
           box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
       @-webkit-keyframes gravity {
         to {
           transform: translateY(200px);
           -moz-transform: translateY(200px);
           -webkit-transform: translateY(200px);
           -o-transform: translateY(200px);
           -ms-transform: translateY(200px);
           opacity: 0; } }
       @-moz-keyframes gravity {
         to {
           transform: translateY(200px);
           -moz-transform: translateY(200px);
           -webkit-transform: translateY(200px);
           -o-transform: translateY(200px);
           -ms-transform: translateY(200px);
           opacity: 0; } }
       @-o-keyframes gravity {
         to {
           transform: translateY(200px);
           -moz-transform: translateY(200px);
           -webkit-transform: translateY(200px);
           -o-transform: translateY(200px);
           -ms-transform: translateY(200px);
           opacity: 0; } }
       @-ms-keyframes gravity {
         to {
           transform: translateY(200px);
           -moz-transform: translateY(200px);
           -webkit-transform: translateY(200px);
           -o-transform: translateY(200px);
           -ms-transform: translateY(200px);
           opacity: 0; } }
       @keyframes gravity {
         to {
           transform: translateY(200px);
           -moz-transform: translateY(200px);
           -webkit-transform: translateY(200px);
           -o-transform: translateY(200px);
           -ms-transform: translateY(200px);
           opacity: 0; } }
       @-webkit-keyframes position {
         0%, 19.9% {
           margin-top: 10%;
           margin-left: 40%; }

         20%, 39.9% {
           margin-top: 40%;
           margin-left: 30%; }

         40%, 59.9% {
           margin-top: 20%;
           margin-left: 70%; }

         60%, 79.9% {
           margin-top: 30%;
           margin-left: 20%; }

         80%, 99.9% {
           margin-top: 30%;
           margin-left: 80%; } }
       @-moz-keyframes position {
         0%, 19.9% {
           margin-top: 10%;
           margin-left: 40%; }

         20%, 39.9% {
           margin-top: 40%;
           margin-left: 30%; }

         40%, 59.9% {
           margin-top: 20%;
           margin-left: 70%; }

         60%, 79.9% {
           margin-top: 30%;
           margin-left: 20%; }

         80%, 99.9% {
           margin-top: 30%;
           margin-left: 80%; } }
       @-o-keyframes position {
         0%, 19.9% {
           margin-top: 10%;
           margin-left: 40%; }

         20%, 39.9% {
           margin-top: 40%;
           margin-left: 30%; }

         40%, 59.9% {
           margin-top: 20%;
           margin-left: 70%; }

         60%, 79.9% {
           margin-top: 30%;
           margin-left: 20%; }

         80%, 99.9% {
           margin-top: 30%;
           margin-left: 80%; } }
       @-ms-keyframes position {
         0%, 19.9% {
           margin-top: 10%;
           margin-left: 40%; }

         20%, 39.9% {
           margin-top: 40%;
           margin-left: 30%; }

         40%, 59.9% {
           margin-top: 20%;
           margin-left: 70%; }

         60%, 79.9% {
           margin-top: 30%;
           margin-left: 20%; }

         80%, 99.9% {
           margin-top: 30%;
           margin-left: 80%; } }
       @keyframes position {
         0%, 19.9% {
           margin-top: 10%;
           margin-left: 40%; }

         20%, 39.9% {
           margin-top: 40%;
           margin-left: 30%; }

         40%, 59.9% {
           margin-top: 20%;
           margin-left: 70%; }

         60%, 79.9% {
           margin-top: 30%;
           margin-left: 20%; }

         80%, 99.9% {
           margin-top: 30%;
           margin-left: 80%; } }
