.site a{
  text-decoration: none;
}
.card-img-top{
  max-height:360px;
}
.pointer{
  cursor: pointer
}
.vw-100{width: 100vw;}
.vh-100{height: 100vh}
/*Splash Screen*/

.textLogo{ margin-top: 16vh; font-size: 36px; color:#3279ff; font-weight: 700}



/*Home*/

.mapHead,.findButton {height: 40px; background: #FFF; border:none;}
.findButton:focus {outline:none;}
.mapHead{line-height: 40px; opacity:0.8}
.mapHead .logo{color:#071f49;font-size: 27px;font-weight: bold;}
.ellipse {
  background: #ededed;
    width: 100%;
    display: block;
    height: 60%;
    border-radius: 15px;
    position: relative;
    top: 6px;
    color:#071f49
  }
  .ellipse .text,  .ellipse .fa-piggy-bank,  .ellipse .fa-trophy{ position: relative; top: -5px;}
  .fa-piggy-bank { color:#f99eb6}
  .fa-trophy { color:#fbd663}
